@model ShopCartUser.Models.ViewModels.CheckOut;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Check-out</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Check-out</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="checkout-page">
            <div class="checkout-form">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>Billing Details</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">First Name</div>
                                    <h4>@Model.userdt.FirstName</h4>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Last Name</div>
                                    <h4>@Model.userdt.LastName</h4>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Phone</div>
                                    <h4>
                                        @{ 
                                            var ContactNumber = Convert.ToInt64(Model.userdt.ContactNumber);
                                        }
                                        @ContactNumber
                                    </h4>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email Address</div>
                                    <h4>@Model.userdt.Email</h4>
                                </div>

                            </div>
                            <div class="checkout-title">
                                <h3>Shipping Details</h3>
                            </div>
                            <input hidden id="selectedaddInput" value="@Model.useraddresses.Where(p => p.IsDefault).First().Id" />
                            <div class="row addrow">
                                @foreach (AddressTbl ad in Model.useraddresses)
                                {
                                    <div class="col-md-6 col-sm-6 col-xs-12 mb-5 ">
                                        @{ var isit = ad.IsDefault ? "selctedAdd" : "";}
                                        <div class="card h-100 @isit">
                                            <div class="card-body">
                                                <h5 class="card-title">@ad.Line1</h5>
                                                <p class="card-text">@ad.Line2</p>
                                                <p class="card-text">@ad.City.Name @ad.State.Name @ad.Country.Name</p>
                                                <p class="card-text">@ad.Landmark - @ad.Zip</p>
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">
                                                    <button type="button" class="btn-solid btn btn-sm card-link" data-adId="@ad.Id" onclick="selectCard(this)">Select</button>

                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Product <span>Total</span></div>
                                    </div>
                                    <ul class="qty">
                                        @{ decimal Gtlt = 0;}
                                        @foreach (CartTbl c in Model.FinalProductList)
                                        {

                                            var total = (c.SubProducat.Price * c.Qty);
                                            Gtlt = decimal.Add(Gtlt, total);

                                            <li>@c.SubProducat.Product.Name × @c.Qty <span>$@total</span></li>

                                        }

                                    </ul>
                                    <ul class="sub-total">
                                        <li>Subtotal <span class="count">$@Gtlt</span></li>
                                        <li>
                                            @{
                                                var shipping = 100;
                                                var GGtlt = decimal.Add(Gtlt, shipping);
                                            }
                                            Shipping<span class="count">$@shipping</span>

                                        </li>
                                    </ul>
                                    <ul class="total">

                                        <input hidden id="GGtlt" value="@GGtlt" />
                                        <li>Total <span class="count">$@GGtlt</span></li>
                                    </ul>
                                </div>
                                <div class="payment-box">

                                    <form asp-action="CheckOut" method="post">
                                        <div class="form-group">
                                            <label for="email">Coupon Code</label>
                                            <input asp-for="cpCode" class="form-control" placeholder="Coupon Code" />
                                            <span asp-validation-for="cpCode" class="text-danger"></span>
                                        </div>
                                        <div class="upper-box d-none">
                                            <div class="payment-options">
                                                <ul>
                                                    <li>
                                                        <div class="radio-option">
                                                            <input type="radio" name="payment-group" id="payment-2">
                                                            <label for="payment-2">
                                                                Cash On Delivery<span class="small-text">
                                                                    Please send a check to Store
                                                                    Name, Store Street, Store Town, Store State /
                                                                    County, Store Postcode.
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="radio-option paypal">
                                                            <input type="radio" name="payment-group" id="payment-3">
                                                            <label for="payment-3">
                                                                PayPal<span class="image">
                                                                    <img src="../assets/images/paypal.png"
                                                                         alt="">
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <input hidden asp-for="addId" value="@Model.useraddresses.Where(p => p.IsDefault).First().Id" />
                                        <div class="text-right"><button type="submit" class="btn-solid btn">Place Order</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
@section Scripts {
    <script type="text/javascript">
        function selectCard(el) {

            $(".addrow").find(".card").each(function () {
                $(this).removeClass("selctedAdd");
            });

            $("#addId").val($(el).attr("data-adId"));
            $(el).parents(".card").addClass("selctedAdd");
        }
        
    </script>
}