@model ShopCartUser.Models.ViewModels.PayResponse;
@using ShopCartUser.Controllers;
@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- thank-you section start -->
<section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>thank you</h2>
                    <p>your order is Placed Sucessfully </p>
                    <p>Transaction ID: @Model.TXNID</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- order-detail section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>your order details</h3>@{ decimal subtot = 0;}
                    @foreach (OrderDetailsTbl Odt in Model.order.OrderDetailsTbl)
                    {

                        <div class="row product-order-detail">
                            <div class="col-3">
                                <img src="@BaseController.uri@Odt.SubProducat.ProductImg.FirstOrDefault().Path" alt=""
                                     class="img-fluid blur-up lazyload">
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>product name</h4>
                                    <h5>@Odt.SubProducat.Product.Name</h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>quantity</h4>
                                    <h5>@Odt.Qty</h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>price</h4>
                                    <h5>$@Odt.SubProducat.Price</h5>
                                </div>
                            </div>
                        </div>
                        subtot = decimal.Add(subtot, (Odt.SubProducat.Price * Odt.Qty));
                    }

                    <div class="total-sec">
                        <ul>
                            <li>subtotal <span>$@subtot</span></li>
                            <li>shipping <span>$100.00</span></li>
                            <li>tax(GST) <span>$10.00</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        @{ decimal gtot = decimal.Add(subtot, 100);}
                        <h3>total <span>$@gtot</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>summery</h4>
                        <ul class="order-detail">
                            <li>order ID: @Model.ORDERID</li>
                            <li>Order Date/Time: @Model.order.CreateDt</li>
                            @if (Model.order.CouponCodeNavigation != null)
                            {
                                <li>Order Copon Appled: @Model.order.CouponCodeNavigation.Name</li>
                            }
                            <li>Order Total Amount: $@Model.TXNAMOUNT</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>shipping address</h4>
                        <ul class="order-detail">
                            <li>@Model.userdt.FirstName @Model.userdt.LastName</li>
                            @{
                                var ContactNumber = Convert.ToInt64(Model.userdt.ContactNumber);
                                <li class="card-title">
                                    Contact No.
                                    @ContactNumber
                                </li>

                            }
                            <li>@Model.order.Address.Line1</li>
                            <li>@Model.order.Address.Line2</li>
                            <li>@Model.order.Address.City.Name @Model.order.Address.State.Name @Model.order.Address.Country.Name</li>
                            <li class="card-text">@Model.order.Address.Landmark - @Model.order.Address.Zip</li>


                        </ul>
                    </div>
                    <div class="col-sm-12 payment-mode">
                        <h4>payment Status</h4>
                        <p>
                            <span class="text-theme">
                                @Model.RESPMSG
                            </span>
                            @if (Model.PAYMENTMODE != "")
                            {
                                <br>
                            <p>Payment Done from @Model.PAYMENTMODE</p>
                        }
                            </p>
                        </div>

                        <div class="col-md-12">
                            <div class="delivery-sec d-flex justify-content-between">
                                @if (Model.STATUS != "TXN_SUCCESS")
                                {
                                    <form asp-action="RepayPaytm">
                                        <input hidden asp-for="ORDERID" />
                                        <input hidden asp-for="TXNAMOUNT" />
                                        <button type="submit" class="btn-solid btn">Pay Now</button>
                                    </form>
                                }
                                <a class="btn-solid btn" href="/">continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-- Section ends -->
